/* Zack Dove
zd17646
University of Bristol
Computer Science BSc
Web Technologies */

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Courier New";
}

body {
    margin:0!important;
}

.duo-option:hover{
    background-color: #421C52;
    color: white;
}
.duo-option{
    font-size:4rem;
}
.bg-grape{
    background-color:#421C52!important;
    color:#FFFFFF;
}
.text-grape{color:#421C52!important}

.text-white{color:#FFFFFF}

.btn-grape{color:#fff;background-color:#421C52;border-color:#421C52}

.btn-grape:hover{color:#fff;background-color:#371047;border-color:#371047}

.inner{
    position:absolute;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
}

h4{
    font-size: 1.5rem;
}


.marquee {
    line-height: 50px;
    background-color: Pink;
    color: #421C52;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear 2;
    position:absolute;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

text {
    letter-spacing: 0.8em;
    font-size: 15px;
    fill: white;
}

.bounce {
    animation: bounce 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    align-items: center;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-12px);
    }
}

.arrowContainer {
    position: absolute;
    bottom: 2vh;
    width:100vw;
    height: 6.5vh;
    text-align:center;
}

.noLinkStyle{
    text-decoration:inherit; color:inherit;
}

a{
    text-decoration:inherit; color:inherit;
}

@media only screen and (orientation: portrait) {
    .aboutColumn {
        display: flex;
        flex-direction: column;
        position: absolute;
        /* We want overflow */
        flex-wrap: nowrap;
        overflow: auto;
        align-items: center;
        height: 100vh;
        width: 94vw;
        padding-left: 2vw;
        padding-right: 2vw;
        background-color: #ffffff;
        box-shadow: 0 0 5vh 5vh #ffffff;
        text-align:center;
    }
    h1{
        font-size: 3rem;
    }
    .menuColumn{
        display:flex;
        flex-direction: column;
        position:absolute;
        width: 96vw;
        padding-left: 2vw;
        padding-right: 2vw;
        height: 100vh;
        /* margin-top: 5vh; */
        /* margin-bottom: 20vh; */
        background-color: #ffffff;
        align-items: center;
        color: #421C52;
        background-color: #ffffff;
        box-shadow: 5vh 5vh 5vh 5vh #ffffff;
        text-align:center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    iframe {
        display:none;
    }
    .halfColumn{
        width: 100vw;
        height:50vh;
        float:left;
        position:relative;
        /* background-color: #647744; */
    }
    .bottleHolder{
        height:50vh;
        padding-bottom:4rem;
    }
    .col25{
        display: flex;
        /* flex: 1 1 100%; */
        flex-direction: column;
        align-items:center;
        padding-top: 2rem;


    }
    .fullFlexContainer{
        display: flex;
        flex-direction: column;
    }
    .col70{
        display: flex;
        flex: 1 1 70%;
        flex-direction: column;
        padding-top: 1rem;
        align-items:center;
    }
    .formContainer{
        padding: 0px;
        margin: 0px;
        width: 94%;
        padding-bottom: 2rem;
    }
    .tableContainer{
        /* height: 85vh; */
        /* overflow:auto; */
        width:96%;
    }
    table{
        width:100%;
        border-collapse: collapse;
        font-size: 0.7rem;
    }
    thead{
        border-bottom: 1px solid lightgrey;
    }
    th,td{
        text-align:left;
        height: 2rem;
    }
    .infoButton{
        /* width: 0.3rem!important;
        height:1rem!important;
        text-align:center; */
        height:2.3em;
        width:2.3em;
        margin-top: 10px;
        border-radius: 4px;
        font-size:inherit;
    }
    .card{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:100vh;

    }

    .cardHead{
        height:4rem;
        line-height:4rem;
        font-size:2em;
        width:100%;
        float:left;
        position:relative;
    }

    .cardBody{
        overflow:auto;
        width:90%;
        font-size:1rem;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 8vh;
    }

    .cardTable{
        font-size: 1rem;
    }

    .closeButton{
        background-color:transparent;
        color: white;
        font-family: arial;
        border: none;
        font-size:1.7rem;
    }

    .cardTitle{
        /* background-color:red; */
        text-align:center;
        position:absolute;
        width:100%;
    }

    .closeButtonContainer{
        width:6vw;
        /* background-color:green; */
        text-align:center;
        position:absolute;
        z-index: 999;
        padding-left:0.5em;
    }
}

@media only screen and (orientation: landscape) {
    .aboutColumn {
        display: flex;
        flex-direction: column;
        position: absolute;
        /* We want overflow */
        flex-wrap: nowrap;
        overflow: auto;
        align-items: center;
        height: 100vh;
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
        background-color: #ffffff;
        box-shadow: 0 0 5vh 5vh #ffffff;
        text-align:center;
    }
    h1{
        font-size: 4rem;
    }
    .menuColumn{
        display:flex;
        flex-direction: column;
        position:absolute;
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
        height: 100vh;

        background-color: #ffffff;
        align-items: center;
        color: #421C52;
        background-color: #ffffff;
        box-shadow: 5vh 5vh 5vh 5vh #ffffff;
        text-align:center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    iframe {
        position: absolute;
        width: 100vw;
        height: 100vh;
        border-style: none;
        overflow: hidden;
    }
    .halfColumn{
        width: 50vw;
        height:100vh;
        float:left;
        position:relative;
    }
    .bottleHolder{
        margin-right:20vw; margin-bottom:10vh; height:50rem;
    }
    .col25{
        display:flex;
        flex: 0 0 23%;
        flex-direction: column;
    }
    .fullFlexContainer{
        display: flex;
        flex-direction: row;
    }
    .col70{
        display: flex;
        flex: 1 1 70%;
        flex-direction: column;
        padding-left: 2%;
    }
    .formContainer{
        padding: 0px;
        margin: 0px;
        width:23rem;
        padding-bottom: 2rem;
    }
    .tableContainer{
        height: 85vh;
        overflow:auto;
    }
    table{
        width:100%;
        border-collapse: collapse;
        font-size: 1.3rem;
    }
    thead{
        border-bottom: 1px solid lightgrey;
    }
    th,td{
        text-align:left;
        height: 50px;
    }
    .infoButton{
        /* width: 2em;
        height:2em; */
        /* min-width:4rem; */
        height:1.8em;
        width:1.8em;
        margin-top: 10px;
        border-radius: 4px;
        font-size:inherit;
    }
    .cardForm{
        padding: 0px;
        margin: 0px;
        width: 10rem;
        text-align:center;
        display:inline;
    }
    .card{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        align-content:center;
        height:100vh;
    }

    .cardHead{
        height:4rem;
        line-height:4rem;
        font-size:2rem;
        width:34rem;
        border-top: 1px solid grey;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-radius: 6px 6px 0px 0px;
        float:left;
        position:relative;
    }

    .cardBody{
        padding: 1rem 2rem 1rem 2rem;
        overflow:auto;
        border-bottom: 1px solid grey;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-radius: 4px;
        border-radius: 0px 0px 6px 6px;
        width:30rem;
        text-align:center;

    }

    .closeButton{
        background-color:transparent;
        color: white;
        font-family: arial;
        border: none;
        font-size:1.7rem;
    }

    .cardTitle{
        /* background-color:red; */
        text-align:center;
        position:absolute;
        width:100%;
    }

    .closeButtonContainer{
        width:6vw;
        /* background-color:green; */
        text-align:center;
        position:absolute;
        z-index: 999;
        padding-left:0.1em;
    }
}

.aboutItem{
    margin-top: 3vh;
}

.menuButton{
    width: 100%;
    text-align: center;
    color: inherit;
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.menuButton:hover{
    background-color: #eeeeee;
    color: inherit;
    text-decoration: none;
}

.menuFormButton{
    background: none!important;
    border: none;
    padding: 0!important;
    color: inherit;
    cursor: pointer;
    width: 100%!important;
    font-size: 3vh;

}

.menuFormButtonContainer{
    width: 100%!important;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.menuFormButtonContainer:hover{
    width: 100%!important;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #eeeeee;
}

.menuFormButton:hover{
    border: none;
    padding: 0!important;
    color: inherit;
    cursor: pointer;
}

iframe {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-style: none;
    overflow: hidden;
}

.fullScreen {
    width: 100vw;
    height: 100vh;
}

/* Clear floats after the columns */
.row5:after {
    content: "";
    display: table;
    clear: both;
}

.underline{
    text-decoration: underline;
}

#aboutCurveText{
    fill: #000000;
    font-size: 30px;
}

.parentWidth{
    width: 100%;
    /* max-width: 100%; */
}

.centerX{
    text-align:center;
}

.centerY{
    position: relative;
    top: 50%;
    transform: translateY(-150%);
}

.psmall{
    font-size:1vh;
}

.pad5{
    padding: 1vw 1vw 1vw 1vw;
}

.mar5{
    margin: 1vw;
}

.grapeLogo{
    height: 10vh;
    text-align:center;
}

.buttonGroup{
    margin-top: 10px;
    width:100%;
    float:left;
    font-size:4em;
}

form{
    width:100%;
}

fieldset{
    border-style: none;
    padding: 10px 0px 0px 0px;
    margin: 0px;
    height: 3rem;
    line-height:3rem;
    width:100%;
    position:relative;
    text-align:left;
}

label{
    text-align: center;
    border: 1px solid grey;
    border-right-style: none;
    border-radius: 4px 0px 0px 4px;
    height:inherit;
    width: 30%;
    position:absolute;
    background-color: #e9ecef;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-size:inherit;
}

input[type=text], input[type=password], input[type=number]{
    border: 1px solid grey;
    border-radius: 0px 4px 4px 0px;
    height:inherit;
    width:70%;
    left:30%;
    position:absolute;
    padding: 0px;
    margin: 0px;
    text-align:center;
    font-size:inherit;
}

.btn2{
    height:3rem;
    width:100%;
    margin-top: 10px;
    border-radius: 4px;
    font-size:inherit;
    min-width: 10rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    cursor: pointer;
    z-index: 999;
}

.btn2:disabled,.btn2[disabled]{
    background-color: grey;
}

.borderTop{
    border: 1px solid black;
}

.backContainer{
    color: #000000;
    transition: color 0.3s;
    margin-bottom:1rem;
}
.backContainer:hover{
    color: #EDEDED;
}

.incorrectMessage{

    width:100%;
    margin-top: 3rem;
    border-radius: 4px;
    font-size:inherit;
    background-color: #EAEAEA;
    text-align:center;
    line-height: 1.5rem;
}

.svgContainer{
    height:100%;
    z-index:0;
}

.centerChildrenXY{
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin20rem{
    margin: 5rem;
}


.switchLabel{
    width:80%;
    border-radius: 4px 4px 4px 4px;
    border-right-style: solid;
    position:absolute;
}

.checkContainer{
    padding: 0px;
    margin: 0px;
    text-align:center;
    position:absolute;
    right:0;
}

input[type="checkbox"]{
    appearance: initial;
    background: gray;
    width: 2.9rem;
    height: 2.9rem;
    border: none;
    -webkit-appearance: initial;
    background:#e9ecef;
    position:relative;
    border-radius: 4px 4px 4px 4px;
    margin-right: 0;

}
input[type="checkbox"]:after {
    content: "\2717";
    color: #f00;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
input[type="checkbox"]:checked:after {
    content: "\2713";
    color: #0e8c30;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}

.pagination{
    display:flex;
    justify-content:center;

}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;

}


.pagination a.active {
    background-color: #421C52;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.padded{
    padding: 1rem;
}

.wineButtonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.starContainer{
    font-family: "Arial";
    cursor: pointer;
    position:absolute;
}

.starContainerHover{
    opacity: 0;
    transition:opacity 0.4s;
    transition-delay: 0.3s;
}

.star{
    font-family: "Arial";
    color: grey;
    font-size: 1.4rem;
}

.checked{
    color: gold;
}

.starGreaterContainer:hover  .starContainerHover{
    opacity: 1;
}

.starGreaterContainer:hover  .starHoverMessage{
    opacity:0;
}

.starHoverMessage{
    position:absolute;
    transition:opacity 0.4s;
    transition-delay: 0.3s;
    cursor:default;
    background-color: white;
}

.starGreaterContainer{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 5rem;
}
