html {
    scroll-behavior: smooth;
}
.duo-option:hover{
    background-color: #421C52;
    color: white;
}
.duo-option{
    font-size:5vw;
}
.bg-grape{
    background-color:#421C52!important
}
.text-grape{color:#421C52!important}

.btn-grape{color:#fff;background-color:#421C52;border-color:#421C52}

.btn-grape:hover{color:#fff;background-color:#371047;border-color:#371047}

.inner{
    position:absolute;
}

.marquee {
line-height: 50px;
background-color: Pink;
color: Red;
white-space: nowrap;
overflow: hidden;
box-sizing: border-box;
}
.marquee p {
display: inline-block;
padding-left: 100%;
animation: marquee 10s linear infinite;
position:absolute;
}
@keyframes marquee {
0%   { transform: translate(0, 0); }
100% { transform: translate(-100%, 0); }
}
