html {
    scroll-behavior: smooth;
}

* {
 font-family: "Courier New";
}

body {
    margin:0!important;
}

.duo-option:hover{
    background-color: #421C52;
    color: white;
}
.duo-option{
    font-size:5vw;
}
.bg-grape{
    background-color:#421C52!important;
    color:#FFFFFF;
}
.text-grape{color:#421C52!important}

.text-white{color:#FFFFFF}

.btn-grape{color:#fff;background-color:#421C52;border-color:#421C52}

.btn-grape:hover{color:#fff;background-color:#371047;border-color:#371047}

.inner{
    position:absolute;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
}

h1{
    font-size: 4rem;
}

h4{
    font-size: 1.5rem;
}


.marquee {
line-height: 50px;
background-color: Pink;
color: #421C52;
white-space: nowrap;
overflow: hidden;
box-sizing: border-box;
}
.marquee p {
display: inline-block;
padding-left: 100%;
animation: marquee 10s linear 2;
position:absolute;
}
@keyframes marquee {
0%   { transform: translate(0, 0); }
100% { transform: translate(-100%, 0); }
}

text {
    letter-spacing: 0.8em;
    font-size: 15px;
    fill: white;
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  align-items: center;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
        }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-12px);
    }
}

.arrowContainer {
  position: absolute;
  bottom: 2vh;
  width:100vw;
  height: 6.5vh;
  text-align:center;
}

.noLinkStyle{
    text-decoration:inherit; color:inherit;
}

.aboutColumn {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* We want overflow */
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    height: 100vh;
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: #ffffff;
    box-shadow: 0 0 5vh 5vh #ffffff;
    text-align:center;
}


.aboutItem{
    margin-top: 3vh;
}

.menuColumn{
    display:flex;
    flex-direction: column;
    position:absolute;
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
    height: 60vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    background-color: #ffffff;
    align-items: center;
    color: #421C52;
}

.menuButton{
    width: 100%;
    text-align: center;
    color: inherit;
    font-size: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.menuButton:hover{
    background-color: #eeeeee;
    color: inherit;
    text-decoration: none;
}

iframe {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-style: none;
    overflow: hidden;
}


.fullScreen {
    width: 100vw;
    height: 100vh;
}

.halfColumn{
    width: 50vw;
    height:100vh;
    float:left;
    position:relative;
}

/* Clear floats after the columns */
.row5:after {
  content: "";
  display: table;
  clear: both;
}

.underline{
    text-decoration: underline;
}

#aboutCurveText{
    fill: #000000;
    font-size: 30px;
}

.parentWidth{
    width: 100%;
    /* max-width: 100%; */
}

.centerX{
    text-align:center;
}

.centerY{
    position: relative;
    top: 50%;
    transform: translateY(-150%);
}

.psmall{
    font-size:1vh;
}
