html {
    scroll-behavior: smooth;
}

* {
 font-family: "Courier New";
}

.duo-option:hover{
    background-color: #421C52;
    color: white;
}
.duo-option{
    font-size:5vw;
}
.bg-grape{
    background-color:#421C52!important
}
.text-grape{color:#421C52!important}

.btn-grape{color:#fff;background-color:#421C52;border-color:#421C52}

.btn-grape:hover{color:#fff;background-color:#371047;border-color:#371047}

.inner{
    position:absolute;
}

.marquee {
line-height: 50px;
background-color: Pink;
color: #421C52;
white-space: nowrap;
overflow: hidden;
box-sizing: border-box;
}
.marquee p {
display: inline-block;
padding-left: 100%;
animation: marquee 10s linear 2;
position:absolute;
}
@keyframes marquee {
0%   { transform: translate(0, 0); }
100% { transform: translate(-100%, 0); }
}

text {
    letter-spacing: 1vh;
    font-size: 15px;
    fill: white;
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  align-items: center;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
        }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-12px);
    }
}

.arrowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 1rem auto;
}

.aboutColumn {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* We want overflow */
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    height: 100vh;
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: #ffffff;
    box-shadow: 0 0 5vh 5vh #ffffff;
}

}

.aboutItem{
    margin-top: 5vh;
}

.menuColumn{
    display:flex;
    flex-direction: column;
    position:absolute;
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
    height: 60vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    background-color: #ffffff;
    align-items: center;
}

.menuButton{
    width: 100%;
    text-align: center;
}

.menuButton:hover{
    background-color: #eeeeee;
}

iframe {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-style: none;
}

#aboutCurveText{
    fill: #000000;
    font-size: 30px;
}

.parentWidth{
    width: 100%;
    /* max-width: 100%; */
}
